/* custom-select.css */
.TimezoneDropdown__control {
  /* Apply custom styles to the control element */
  background-color: #f7f7f7;
  margin: auto;
  max-width: 100%;
}

.TimezoneDropdown__menu {
  /* Apply custom styles to the dropdown menu */
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 200px;
  margin: auto;
}

/* Add more custom styles as needed */
@media (min-width: 768px) {
  .TimezoneDropdown__menu {
    max-width: 50%; /* Limit the width on larger screens */
  }
}
